/* This file is for your main application css. */

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

main {
  width: 1000px;
}

#board {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#row1 {
  display: flex;
  justify-content: space-between;
}

#row2 {
  display: flex;
  justify-content: space-between;
}

#departures {
  width: 100%;
  border: 1px solid black;
}
