<div id='board'>
  <div id='row1'>
    <div id='dow'>Sunday</div>
    <div id='title'>Departure Board</div>
    <div id='time-title'>Current Time</div>
  </div>
  <div id='row2'>
    <div id='date'>12-11-2011</div>
    <div id='current-time'>6:28:01 PM</div>
  </div>

<table id='departures'>
</table>
</div>
